@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    background-color: #66CCFF;
    height: 100vh;
}

.fish {
    width: 15em;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: fish-swim 8s linear infinite;
}

@keyframes fish-swim {
    0% { transform: translateX(300%); }
    20% { transform: translate(150%, 50%); }
    40% { transform: translate(50%, -30%); }
    60% {transform: translate(-50%, 20%); }
    80% {transform: translate(-200%, -40%);}
    100% { transform: translate(-400%); }
}