@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    background: #66CCFF url(../images/background.svg) no-repeat center bottom;
    height: 100vh;
}

.title {
    text-align: center;
    color: #0C2D51;
    transition: all 500ms linear;
}

.title:hover {
    color: #fff;
    background-color: #0C2D51;
}

.nav {
    width: 3em;
}

.nav-panel {
    display: none;
}

.nav-panel a {
    text-decoration: none;
    color: #0066CC;
}

.js-nav-panel-open {
    display: block;
}

.bluetang-header {
    width: 25em;
    position: absolute;
    top: 25%;
    -webkit-animation: bluetang-swim 8s linear infinite;
    animation: bluetang-swim 8s linear infinite;
}

@-webkit-keyframes bluetang-swim {
    0% {transform: translateX(-200%);}
    25% {transform: translate(-50%, 50%);}
    50% {transform: translate(100%, -20%);}
    75% {transform: translate(200%, 30%);}
    100% {transform: translate(350%, 0%);}
}

@keyframes bluetang-swim {
    0% {transform: translateX(-200%);}
    25% {transform: translate(-50%, 50%);}
    50% {transform: translate(100%, -20%);}
    75% {transform: translate(200%, 30%);}
    100% {transform: translate(350%, 0%);}
}

.clownfish-header {
    width: 15em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation: clownfish-swim 8s linear infinite;
    animation: clownfish-swim 8s linear infinite;
}

@-webkit-keyframes clownfish-swim {
    0% {transform: translateX(300%);}
    20% {transform: translate(150%, 50%);}
    40% {transform: translate(50%, -30%);}
    60% {transform: translate(-50%, 20%);}
    80% {transform: translate(-200%, -40%);}
    100% {transform: translate(-400%);}
}

@keyframes clownfish-swim {
    0% {transform: translateX(300%);}
    20% {transform: translate(150%, 50%);}
    40% {transform: translate(50%, -30%);}
    60% {transform: translate(-50%, 20%);}
    80% {transform: translate(-200%, -40%);}
    100% {transform: translate(-400%);}
}

.starfish-header {
    width: 10em;
    position: absolute;
    bottom: 5%;
    left: 5%;
    -webkit-animation: starfish-spin 8s ease-in-out infinite alternate;
    animation: starfish-spin 8s ease-in-out infinite alternate;
}

@-webkit-keyframes starfish-spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes starfish-spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.arrow {
    width: 5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    transition: all 500ms linear;
}

.arrow:hover {
    width: 10em;
}

.tabs li {
    display: inline-block;
}

[hidden] {
    display: none;
}

.js-current {
    background-color: lightblue;
}

.fish-info {
    width: 40%;
    background-color: lightblue;
    text-align: center;
    max-height: 0;
    transition: all 250ms ease-out;
    overflow: hidden;
}

.js-fish-info-collapse-expand {
    max-height: 20em;
}
